form div{
        overflow:hidden;
      }
      label{
        float:left;
        width:5em;
      }
      form div{
        padding-top:.5em;
      }
  #suggest{
  background:#3c3;
  padding:.5em;
  -moz-border-radius:5px;
  margin:5px 0;
  }
  legend{
  padding:.5em 0;
  font-weight:bold;
  color:#363;
  }
  pre{
  border:1px solid #999;
  padding:5px;
  background:#eee;
  }
  a{color:#369}
  #ft p{
  margin:2em 0;
  color:#000;
  font-size:90%;
  }  
  h1,h2,h3{
    font-family:Calibri,sans-serif;
  }
  h1{
    font-size:200%;
    margin:0 0 10px 0;
    color:#fff;
  }
  #ft a{
    color:#9cf;
  }
  html,body{
    background:#666;
  }
  #demos li{
    padding:.2em 0;
  }
  #bd{background:#fff;border:1em solid #fff;}
#nav li{
  list-style:none;
}
#nav li a {
  background:#369;
  color:#fff;
  padding:.2em 1em;
  display:block;
  text-decoration:none;
  -moz-border-radius:5px;
  margin:.5em 0;
  color:#fff;
}
#nav li a:hover {
  background:#69c;
}